<!doctype html>
<html>
<head>
  <meta charset='UTF-8' />
  <title>Canvas Test</title> 
  <link rel='stylesheet' href='css/widgets.css'>
  <link rel="stylesheet" href="./node_modules/angular-material/angular-material.min.css">
  <script src="./node_modules/angular/angular.min.js"></script> 
  <script src="./node_modules/angular-aria/angular-aria.js"></script>
  <script src="./node_modules/angular-animate/angular-animate.js"></script>
  <script src="./node_modules/angular-material/angular-material.min.js"></script>  
  <script src="./node_modules/angular-messages/angular-messages.js"></script>
  <script src="js/craftFolioGotchiApp.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="craftFolioGotchiApp">
  <div class='widget-container'>
    <md-card class='widget md-padding'>
      
        <md-toolbar>
            <div class="md-toolbar-tools" layout="row"  layout-align="center center" >        
                <span class="md-headline">Galeria </span>
            </div>            
        </md-toolbar>
      <div class='nextprev prev'><div class="arrow-up"></div></div>

      <div class='lista-conteudo' id='galeria'>
      </div>
      <div class='nextprev next'><div class="arrow-down"></div></div>
    </md-card>

    <md-card class='widget md-padding' >
        <md-toolbar >
            <div class="md-toolbar-tools" layout="row"  layout-align="center center" >        
                <span class="md-headline">Texto</span>
            </div>            
        </md-toolbar>
      <div class='nextprev prev'><div class="arrow-up"></div></div>
      <form name="textoForm" novalidate>
        <md-input-container class="campo-texto"> 
            <label>Tamanho</label>
            <input name="usuario" ng-model="textoCtrl.tamanho" ng-required="true">
        </md-input-container>
        <md-input-container  class="campo-texto">
            <label>Bordas</label>
            <input name="bordas" ng-model="textoCtrl.bordas" ng-required="true">
        </md-input-container>                           
        <md-input-container  class="campo-texto">
            <input name="cor" ng-model="textoCtrl.cor" type="color" ng-required="true">
        </md-input-container>
        <md-input-container class="campo-texto">
            <label>Fonte</label>
            <input name="fonte" ng-model="textoCtrl.fonte" ng-required="true">
        </md-input-container>
        <md-input-container id="texto"> 
            <label>Texto</label>
            <input name="texto" ng-model="textoCtrl.tamanho" ng-required="true">
        </md-input-container>
      </form>
      <div class='lista-conteudo'>

      </div>
      <div class='nextprev next'><div class="arrow-down"></div></div>
    </md-card>

    <md-card class='widget md-padding'>
      <div class='nextprev prev'><div class="arrow-up"></div></div>
      <div class='lista-conteudo'>
      </div>
      <div class='nextprev next'><div class="arrow-down"></div></div>
    </md-card>
  </div>
  <canvas>
    This text is displayed if your browser does not support HTML5 Canvas.
  </canvas>
  <script src='js/quadradorosa.js'></script>
  <script src='js/galeria.js'></script>
  <script src='js/widgets.js'></script> 
</body>
</html>
