<!doctype html>
<html>
<head>
  <meta charset='UTF-8' />
  <title>Canvas Test</title>
  <link rel='stylesheet' href='/css/widgets.css'>
  <link rel='stylesheet' href='/css/modal.css'>
  <script src="/js/showdown.min.js"></script>
 
</head>
<body ng-app="craftFolioGotchiApp">
  <div class='widget-container'>
    <div class='widget'>
      <div class='nextprev'><div class="arrow-up"></div></div>
      <div class='lista-conteudo' id='galeria'>
      </div>
      <div class='nextprev'><div class="arrow-down"></div></div>
    </div>

    <div class='widget'>
      <div class='nextprev'><div class="arrow-up"></div></div>
      <div class='lista-conteudo' id='notas'>
    </div>
      <div class='nextprev'><div class="arrow-down"></div></div>
    </div>
  </div>
  <div class="switch_container" >
    <label>Modo edição</label>
    <input id="switch-shadow" class="switch switch--shadow" type="checkbox">
    <label for="switch-shadow"></label>
  </div>

  <div class="chao"></div>

  <div id="modal">
  	<div>
      <div class="modal-tabs">
        <div data-formlink='color'>Cor</div>
        <div data-formlink='gradient'>Gradiente</div>
        <div data-formlink='image'>Imagem</div>
      </div>
      <div class="modal-content" data-formname='color'>
        <input type='color'></input>
      </div>
      <div class="modal-content" data-formname='gradient'>
        <input type='color'></input>
        <input type='color'></input>
      </div>
      <div class="modal-content" data-formname='image'>
        <input type='url'></input>
      </div>
      <div class="messagem-retorno alert">        
      </div>
      <button>Salvar</button>
  	</div>
  </div>
  <canvas>
    This text is displayed if your browser does not support HTML5 Canvas.
  </canvas>
  <script type="module" src='/js/worldController.js'></script>
</body>
</html>
